h1{
    color: #4d4d4d; /* Green */
    font-size: 35px;
    text-align:center;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

input[type=text]:focus {
    border: 3px solid #555;
  }
